<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div>
    <a class="navbar-brand" href="NovelKeys">
      <img src="/assets/NovelKeys_Logo.webp" class= "img-fluid" alt="NovelKeys Logo" width="170">
    </a>
  </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a class="nav-link" routerLink="/keyboards">Keyboards</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Keycaps
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">All</a></li>
              <li><a class="dropdown-item" href="#">Star Wars</a></li>
              <li><a class="dropdown-item" href="#">GMK</a></li>
              <li><a class="dropdown-item" href="#">Double-Shot ABS</a></li>
              <li><a class="dropdown-item" href="#">Dyesub PBT</a></li>
              <li><a class="dropdown-item" href="#">Extras Preorder</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/switches">Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tfue">TFUE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="deskpads">Deskpads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="supplies">Supplies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="merch">Merch!</a>
          </li>
        </ul>
        <ul class="nav">
          <li class="nav-item">
            <a href="" class="nav-link">
              <svg class="bi" width="24" height="24" color="black">
                <use xlink:href="./assets/bootstrap-icons.svg#search"/>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <svg class="bi" width="24" height="24" color="black">
                <use xlink:href="./assets/bootstrap-icons.svg#person"/>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <svg class="bi" width="24" height="24" color="black">
                <use xlink:href="./assets/bootstrap-icons.svg#bag"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>