<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <a class="navbar-brand" href="#">
    <img src="/assets/NovelKeys_Logo.webp" class= "img-fluid" alt="NovelKeys Logo" width="325" height="58">
  </a>
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Keyboards</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Keycaps
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">All</a></li>
              <li><a class="dropdown-item" href="#">Star Wars</a></li>
              <li><a class="dropdown-item" href="#">GMK</a></li>
              <li><a class="dropdown-item" href="#">Double-Shot ABS</a></li>
              <li><a class="dropdown-item" href="#">Dyesub PBT</a></li>
              <li><a class="dropdown-item" href="#">Extras Preorder</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Switches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TFUE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Deskpads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Supplies</a>
          </li><li class="nav-item">
            <a class="nav-link" href="#">Merch!</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>