<div class="card-group">
    <div class="card">
      <img src="/assets/NK_StarWars_Tatooine_tile_2048x.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SA Tatooine $175</h5>
        <p class="card-text">ABS Double-Shot Keycaps</p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/PBT_Olivia_Tile_2048x.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cherry Olivia $65</h5>
        <p class="card-text">PBT Dyesub Keycaps</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/Spellbook_16x9-Tile_2048x.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cherry Spellbook $65</h5>
        <p class="card-text">PBT Dyesub Keycaps</p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img src="assets/NK_Cream_bb0aa86b-b4ba-4151-99c9-0784e7242d00_2048x.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cream+ Switches $18.75</h5>
        <p class="card-text"> <small class="text-body-secondary">36 Per Box</small></p>
        
      </div>
    </div>
    <div class="card">
      <img src="assets/NK_Cream_Clickie_2048x.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cream Clickie Switches $25.92</h5>
        <p class="card-text"> <small class="text-body-secondary">36 Per Box</small></p>

        
      </div>
    </div>
    <div class="card">
      <img src="assets/Box75_35fa1776-71e1-4f8a-8899-ed0b6aed5d6c_2048x.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Box 75 Keyboard $600</h5>
        
      </div>
    </div>
  </div>